/* custom.css */

body {
    font-family:Arial, Helvetica, sans-serif; 
    
}

h1, h2, h3, h4, h5, h6, p{
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border-color:#1f4172;
    border-style: solid;
    border-radius: 5px;  
}


.textc{
    color: #1f4172;
}

.btn{
    color: #ffff;
    background-color:  #1f4172;
    
}

.btn-primary:hover {
    background-color: #febbbb;
    border: #febbbb;
    color: #1f4172;
}

.bg-custom {
    background-color: #1f4172 !important;
    
}

.carousel-inner{
    min-height: 200px;
}



 .imgdiv{
    height: 250px;
    width: 250px;
 }

 .cardbs{
    height: 250px;
    width: 100%;
 }


 svg {
    fill: #ffffff
}

.wishlistcard{
    height: 250px;
    width: 100%; 
}
  
.carousel-img {
    height: 500px; /* Adjust this value as needed */
    object-fit: cover;
    width: 100%;
}


 