.bg-custom {
    background-color: #1f4172;
    
}

.carousel-inner{
    min-height: 200px;
}

.btn{
    color: #ffff;
    background-color: #1f4172;
    
    align-content: center;
}




.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

 .imgdiv{
    height: 250px;
    width: 250px;
 }

 .cardbs{
    height: 250px;
    width: 100%;
 }


 

  

 