.bg-custom {
    background-color: #1f4172;
    
}

.carousel-inner{
    min-height: 200px;
}

.btn{
    color: #ffff;
    background-color: #1f4172;
}

.img{
    height: 200px;
    width: 200px;
}

.svgcolor {
   color: #1f4172; 
   background-color: #1f4172;
}