/* custom.css */

body {
    font-family: Arial, Helvetica, sans-serif;   
}

.card{
    border-color:#1f4172;
    border-style: solid;
    border-radius: 5px;
}

.textc{
    color: #1f4172;
}

button.btn-primary:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
}


.bg-custom {
    background-color: #1f4172;
    
}

.carousel-inner{
    min-height: 200px;
}

.btn{
    color: #ffff;
    background-color:  #1f4172;
    
}



.btn-primary:hover {
    background-color: #febbbb;
    /* Adjust other styles as needed for the hover state */
}

 .imgdiv{
    height: 250px;
    width: 250px;
 }

 .cardbs{
    height: 250px;
    width: 100%;
 }


 

  

 